/*csslint ids: false,
box-model: false*/ 
body {
    background-image: url(http://3.bp.blogspot.com/-Ryi3XGEbBGk/UnaZmgf_UoI/AAAAAAAADJ4/F56yblMd8gI/s400/meech12333.gif)
}
/***********************************
GENERAL
***********************************/

a {
    text-decoration: none;
    
    #wrapper 
    max-width: 940px;
    margin: 0 auto;
    background-color:  blue;
    padding: 0 5%;
}

img{
max-width: 100%;

}

#logo {
   text-align: center;
    margin: 0;
}


/**********************************
COLORS
**********************************/

h1 {    
    color: black;
    margin: 15px 0;
    font-size: 1.75em;
}

h2{
  color: black;
    font-size: 0.75em;
    margin: -5px 0 0;
    font-weight: normal;   
}

/*************************
NAVIGATION
*************************/

nav{

    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

/**********************
FOOTER
**********************/

footer{
    font-size:0.75em;
    text-align: center;
    padding-top: 50px;
    color: black;
}

.social-media-icon {
    
    width: 100px;
    height: 100px;
    margin: 0 5px;   
}

/**********************
PORTFOLIO
**********************/

#gallery{
    margin: 0; 
    padding: 0;
    list-style: none;
    
}

#gallery li {
 float: left;
 width: 45%;
 margin: 2.5%;
 background-color: grey;    

}
    
 #galler li a p{
 margin: 0;
 padding: 5%;
 font-size 0.75em;     
 color: grey;    

}




a{

  color: #000000;
}

nav a, nav a:visited{

    color: black;
}

nav a.selected, nav a:hover {
   color: white; 
}


/********************************
MEdia Querie
********************************/